/* Layouts */

.wrapper {
    width: 90vw;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
}

.box1 {
    text-align: center;
}

.box2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
    justify-items: center;
    /* margin: 1rem; */
    column-gap: 1rem;
}

.box3 {
    text-align: center;
}



/* Components */

#turn-display {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cell {
    height: 100px;
    width: 100px;
    font-size: 4rem;
}

#startBtn {
    padding: 0.5rem 2.5rem;
}

h1,
h2,
h3 {
    text-transform: capitalize;
    margin: 0 0 1.5rem;
}



form.playerForm {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 1rem;
    margin-top: 1rem;
}

.scoreBoard button {
    grid-column: 1/5;
}

#p1Score {
    margin-right: 4rem;
}


.board {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    width: 400px;
    justify-content: center;
}