.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#turn-display {
    display: flex;
    flex-direction: column;
    text-align: center;
}


#turn-display button {
    display: none;
}

.board {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    width: 400px;
    justify-content: center;
}

.cell {
    height: 100px;
    width: 100px;
    font-size: 4rem;
}

button {
    padding: 8px 20px;
}